# conda install pip
# conda install python=3.11
# pip install -r requirements.txt

torch==2.7
torchvision==0.22
torchinfo==1.8
snntorch==0.9.4
PyYAML==6.0
numpy==2.2
pandas==2.3
h5py==3.14.0
hdf5plugin==5.1
opencv-python==4.12.0.88
pre-commit==4.2
matplotlib==3.10
progress==1.6
mlflow==3.2
brevitas
netron==8.5
onnx==1.18
onnxruntime==1.22
onnxoptimizer
ipykernel==7.0
